<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pago Express BOD</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLName</key>
	<string></string>
	<key>CFBundleURLSchemes</key>
	<array>
		<string></string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>com.phoenix3k.catpay.bod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>p2pdev.technifiser.com</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>4b156236cc93a215948cb708b487f918428e8ed0</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Answers</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GlobalAppSettings</key>
	<dict>
		<key>BankName</key>
		<string>BOD Banco Universal -RIF: J-30061946-0</string>
		<key>ClientId</key>
		<string>C87F079B-4274-4393-BC1B-834565AB72B6</string>
		<key>ClientSecret</key>
		<string>11c505de-70e0-4936-8e14-658a95f2ba8a</string>
		<key>Copyright</key>
		<string>Copyright 2016-2017 Phoenix Software 3000, C.A.</string>
		<key>CurrencySymbol</key>
		<string>Bs.</string>
		<key>DeepLinkingUrl</key>
		<string>http://p2pappdesa.bod.com.ve</string>
		<key>DefaultAccountId</key>
		<integer>23</integer>
		<key>EnvironmentName</key>
		<string>Development Environment</string>
		<key>IV</key>
		<string>9DkJD6nNbDkI3UoL</string>
		<key>Key</key>
		<string>tqfYoulkVX9l3DBWknybZdH7UAp9eOhK</string>
		<key>MaxAmountLength</key>
		<integer>12</integer>
		<key>OtpLength</key>
		<integer>8</integer>
		<key>ServiceBaseUrl</key>
		<string>http://p2pappdesa.bod.com.ve</string>
		<key>SmsSenderId</key>
		<string>1263</string>
		<key>version</key>
		<string>1.0.0</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>example.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The camera is needed to scan QR codes</string>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Regular.tff</string>
		<string>OpenSans-Semibold.tff</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
